<form [formGroup]="orderForm" (ngSubmit)="createOrder()">

  @if (cart) {
  <div class="cart-summary">
    <h2>Your order</h2>
    <ul>
      @for (item of cart.items; track item.laptopId) {
      <li>
        {{ item.laptopName }} — {{ item.quantity }} x {{ item.price }} ₴ = <strong>{{ item.totalPrice }} ₴</strong>
      </li>
      }
    </ul>
    <h4>Grand Total: {{ cart.grandTotal }} ₴</h4>
    <hr>
  </div>
  }

  <h3>Delivery & Payment</h3>

  <div class="form-group">
    <label>Delivery Method:</label>
    <select formControlName="delivery">
      <option [ngValue]="0">Select delivery method...</option>
      @for (option of deliveryOptions; track option.id) {
      <option [ngValue]="option.id">{{ option.name }}</option>
      }
    </select>
  </div>

  <div class="form-group">
    <label>Payment Method:</label>
    <select formControlName="pay">
      <option [ngValue]="0">Select payment method...</option>
      @for (option of paymentOptions; track option.id) {
      <option [ngValue]="option.id">{{ option.name }}</option>
      }
    </select>

    @if (orderForm.get('pay')?.invalid && orderForm.get('pay')?.touched) {
    <div class="error-text">
      Select payment method first
    </div>
    }
  </div>

  <hr>

  <h3>Contact Information</h3>
  <input type="text" formControlName="phone" placeholder="Phone Number" />
  <input type="email" formControlName="email" placeholder="Email Address" />

  @if (orderForm.get('delivery')?.value === novaPostEnumId) {
  <h3>Delivery Address</h3>

  <div class="form-group autocomplete-container">
    <label for="citySearch">City:</label>
    <input type="text"
           id="citySearch"
           formControlName="citySearch"
           placeholder="Start typing city name..."
           autocomplete="off" />

    @if (cities | async; as cityList) {
    @if (cityList.length > 0 && !orderForm.value.cityRef) {
    <ul class="autocomplete-list">
      @for (city of cityList; track city.Ref) {
      <li (click)="selectCity(city)">
        {{ city.Present }}
      </li>
      }
    </ul>
    }
    }
  </div>

  @if (orderForm.get('cityRef')?.value) {
  <div class="form-group autocomplete-container">
    <label for="warehouseSearch">Nova Post Warehouse:</label>
    <input type="text"
           id="warehouseSearch"
           formControlName="warehouseSearch"
           placeholder="Enter warehouse number or address..."
           autocomplete="off" />

    @if (warehouses | async; as warehouseList) {
    @if (warehouseList.length > 0 && !orderForm.value.warehouseRef) {
    <ul class="autocomplete-list">
      @for (wh of warehouseList; track wh.Ref) {
      <li (click)="selectWarehouse(wh)">
        {{ wh.Description }}
      </li>
      }
    </ul>
    }
    }
  </div>
  }
  } <br />
  <button type="submit" [disabled]="orderForm.invalid || orderForm.value.pay === 0 || orderForm.value.delivery === 0">
    Confirm
  </button>
</form>
